{% extends '../base.html' %}
{% block content %}
  <div class="row">
    <div class="card">
      <div class="row">
        <div class="col-2">
          <figure>
            <img src="https://img.ltwebstatic.com/images2_pi/2018/10/17/1539756300539727379.jpg" alt="suter" width="120px">
          </figure>
          <div class="input-group">
            <form action="">
              <button class="btn btn-primary" type="button">Agregar<i class="fa-solid fa-plus"></i></button>
              <input type="text" class="form-control" placeholder="">
              <button class="btn btn-primary" type="button">Quitar<i class="fa-solid fa-minus"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5>Total a pagar</h5>
        </div>
        <div class="card-body">
          <div>
            <span>Precio total:</span>
            <span>$9.00</span>
          </div>
          <div>
            <span>Impuesto:</span>
            <span>7%</span>
          </div>
          <div>
            <span>Total</span>
            <span>$9.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}