[MASTER]
disable = line-too-long, missing-module-docstring, missing-function-docstring,
        no-member, no-value-for-parameter, no-else-return, too-few-public-methods,
        missing-class-docstring, unused-variable, invalid-str-returned, unused-argument,
        invalid-name, wildcard-import, unused-wildcard-import, super-with-arguments
ignore = migrations
[MISCELLANEOUS]

  # List of note tags to take in consideration, separated by a comma.
  notes=FIXME,XXX,TODO