[MASTER]
disable = line-too-long, missing-module-docstring, missing-function-docstring,
        no-member, no-value-for-parameter, no-else-return, too-few-public-methods,
        missing-class-docstring, unused-variable, invalid-str-returned, unused-argument,
        invalid-name, wildcard-import, unused-wildcard-import, super-with-arguments, 
        raise-missing-from, broad-except
ignore = migrations

[MESSAGES CONTROL]
disable=
    W0622