[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
django-redis = "*"
django-debug-toolbar = "*"
pillow = "*"
flake8 = "*"
black = "==18.9b0"
isort = "*"
pylint = "*"
django = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.8"
