[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
django-redis = "*"
pillow = "*"
flake8 = "*"
black = "==18.9b0"
isort = "*"
pylint = "*"
django = "*"
gunicorn = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"
django-heroku = "*"
django-debug-toolbar = "*"
django-environ = "*"
stripe = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
drf-yasg2 = "*"
django-cors-headers = "*"
django-filter = "*"

[dev-packages]
environ = "*"

[requires]
python_version = "3.8"
