{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="page-header">
        <a href="{% url 'ecommerce:product-create' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="{% url 'ecommerce:home' %}">Ais Moda</a></h1>
        <span class="user-msg"> Hello, {{request.user}}</span>
        <span><a class="user-msg" href="{% url 'ecommerce:logout' %}"> Logout </a></span>
    </div>
    {% block content %}
        {%for message in messages %}
            <p> {{ message }} </p>
        {% endfor %}
    <ul>
        {% for product in result %}
        <div>
        <h2><a href="{% url 'ecommerce:product-detail' product.pk %}"> {{product.title}} </a></h2>
        <p> {{ product.description}}, ${{product.price}} </p>
        </div>
        {% include "ecommerce/images.html" %}  
        {% endfor %}
    </ul>

    {% endblock %}
</body>
</html>