<div class="">
    <h1 class="text-center mt-24 mb-8 text-4xl font-medium  ">categories</h1>
    <div class=" mx-auto w-1/12 ">
        <div class="mx-auto w-1/4 border-b-4 border-gray-900"></div>
    </div>
    <div class="flex items-center justify-center w-full h-full py-24 sm:py-8 px-4">
        <div class="w-full relative flex items-center justify-center">
            <div aria-label="slide backward"
                class="absolute z-30 left-0 ml-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer">
                <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1L1 7L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </div>
            <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
                <div id="slider" class="h-full flex items-center justify-start transition ease-out duration-700">
                    <div class="bg-gray-900 flex flex-shrink-0 relative w-full sm:w-auto"><img
                            src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table"
                            class="object-cover object-center w-full">
                        <div class="bg-gray-800 bg-opacity-30 hover:bg-opacity-70 absolute w-full h-full p-6">
                            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                Catalog 1</h2>
                            <div
                                class="opacity-0 hover:opacity-100 hover:brightness-100 flex h-full items-center justify-center ">
                                <h3
                                    class="text-center text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-50">
                                    Minimal Interior</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-900 flex flex-shrink-0 relative w-full sm:w-auto"><img
                            src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area"
                            class="object-cover object-center w-full">
                        <div class="bg-gray-800 bg-opacity-30 hover:bg-opacity-70 group absolute w-full h-full p-6">


                            <div
                                class="opacity-50 z-10 hover:opacity-100  hover:brightness-100  flex h-full items-center justify-center ">
                                <h3
                                    class="text-center text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white ">
                                    Minimal Interior
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-900 flex flex-shrink-0 relative w-full sm:w-auto"><img
                            src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area"
                            class="object-cover object-center w-full">
                        <div class="bg-gray-800 bg-opacity-30 hover:bg-opacity-70 absolute w-full h-full p-6">
                            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                Catalog 1</h2>
                            <div
                                class="opacity-0 hover:opacity-100 hover:brightness-100 flex h-full items-center justify-center ">
                                <h3
                                    class="text-center text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-50">
                                    Minimal Interior</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-900 flex flex-shrink-0 relative w-full sm:w-auto"><img
                            src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area"
                            class="object-cover object-center w-full">
                        <div class="bg-gray-800 bg-opacity-30 hover:bg-opacity-70 absolute w-full h-full p-6">
                            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                Catalog 1</h2>
                            <div
                                class="opacity-0 hover:opacity-100 hover:brightness-100 flex h-full items-center justify-center ">
                                <h3
                                    class="text-center text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-50">
                                    Minimal Interior</h3>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-900 flex flex-shrink-0 relative w-full sm:w-auto"><img
                            src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table"
                            class="object-cover object-center w-full">
                        <div class="bg-gray-800 bg-opacity-30 hover:bg-opacity-70 absolute w-full h-full p-6">
                            <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                Catalog 1</h2>
                            <div
                                class="opacity-0 hover:opacity-100 hover:brightness-100 flex h-full items-center justify-center ">
                                <h3
                                    class="text-center text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-50">
                                    Minimal Interior</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div><button aria-label="slide forward"
                class="absolute z-30 right-0 mr-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"><svg
                    class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L7 7L1 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg></button>
        </div>
    </div>
</div>