<header class="py-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="d-flex mb-2 mb-lg-0 mx-3 btn btn-outline-light"
            href="{% url 'ecommerce:home' %}"> AisModa marketPlace</a>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-auto">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>




            <div class="col-lg-6 col-mb-8 d-flex justify-content-end ">
                <!--  ni idea como lo hise funcionar :) -->

                {% if request.user.is_authenticated and request.user.is_staff%}
                <span class="user-msg h3 mx-3"> Hello, {{request.user.email}}</span>
                <a class="btn btn-warning m-1" href="{% url 'account_logout' %}"> Logout </a>
                <a class="btn btn-warning m-1" href="{% url 'ecommerce:product-create' %}">new product</a>
                {% elif request.user.is_authenticated %}
                <span class="user-msg h3 mx-3"> Hello, {{request.user.email}}</span>
                <a class="btn btn-warning m-1" href="{% url 'account_logout' %}"> Logout </a>
                {% else %}
                <a class="btn btn-outline-light me-2 m-3" href="{% url 'account_login' %}"> Login </a>
                {% endif %}
            </div>
        </div>

        <ul role="group"
            class="nav btn-group btn-group-sm  col-12 col-lg-auto me-lg-auto justify-content-center justify-content-lg-start mb-md-0  m-2">
            <li><a href="#" class="btn btn-outline-secondary">categoria1</a></li>
            <li><a href="#" class="btn btn-outline-secondary">categoria2</a></li>
            <li><a href="#" class="btn btn-outline-secondary">categoria3</a></li>
        </ul>

    </div>
</header>