a {
    color: black;
}
a:link {
    text-decoration: none;
}
a:hover {
    background-color: yellow;
}
a:visited { 
    text-decoration: none
}
.top-menu {
    position: absolute;
    top: 300;
    right: 0;
    margin-right: 20px;
}

.user-msg {
    font-size: 18px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}