a {
    color: black;
}
a:link {
    text-decoration: none;
}
a:hover {
    background-color: yellow;
}
a:visited { 
    text-decoration: none
}
.top-menu {
    position: absolute;
    top: 300;
    right: 0;
    margin-right: 20px;
}

.user-msg {
    font-size: 18px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.table-shopping-cart.table td, .table-shopping-cart.table th {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .table-shopping-cart .price-wrap {
    line-height: 1.2;
  }
  .table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block;
  }
