a {
    color: black;
}
a:link {
    text-decoration: none;
}
a:hover {
    background-color: yellow;
}
a:visited { 
    text-decoration: none
}
.top-menu {
    position: absolute;
    top: 300;
    right: 0;
}