{% extends '../base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="container">


    <h1> Datos personales: </h1>

    <div class="card w-25   ">
        <table class="mb-0 table ">
            <tbody>
                <tr>
                    <th scope="row">Email: </th>
                    <td> {{ request.user.email}}</td>
                </tr>
                <tr>
                    <th scope="row">Primer nombre: </th>
                    <td> {{ request.user.first_name}}</td>
                </tr>
                <tr>
                    <th scope="row">Apellido: </th>
                    <td> {{ request.user.last_name}}</td>
                </tr>
                <tr>
                    <th scope="row">Tienda: </th>
                    <td> {{ request.user.seller}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br><br>

    <h1>compras realizadas</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>

    <br><br><br>

    <h1>Tienda</h1>

    {% if request.user.seller %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>

    {% else %}
    aqui no hay nada:
    <a class="btn btn-primary" href="{% url 'users:seller_register' %}"> abre tu tienda</a>
    {% endif %}

</div>
{% endblock content %}