{% extends '../base.html' %}
{% block title %}MarketPlace{% endblock title %}
{% block content %}

{% include '../hero.html' %}
{% include '../categories.html' %}

<div class="max-w-2xl mx-auto  px-4 sm:py-6 mb-10 sm:px-6 lg:max-w-7xl lg:px-8">
    <h1 class="text-center mt-24 mb-8 text-4xl font-medium  ">Products List</h1>
    <div class=" mx-auto w-1/12 ">
        <div class="mx-auto w-1/4 border-b-4 border-gray-900"></div>
    </div>

    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

        {% for product in products %}
        <div class="group relative">
            <a href="{% url 'ecommerce:product-detail' product.pk %}">
                {% include "ecommerce/images.html" %}
            </a>

            <div class="mt-4 flex justify-center items-center flex-col">
                <div>
                    <h3 class="text-md text-gray-700 flex justify-between">
                        <a href="{% url 'ecommerce:product-detail' product.pk %}"><span aria-hidden="true"
                                ></span>{{product.title}}</a>
                    </h3>
                </div>
                <p class="mt-0 text-xl italic font-light text-red-600">${{product.price}}</p>
                <a href="{% url 'shopping_cart:add_product' product.pk %}" class="">add to cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock content %}

<button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign up</button>
<small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>