{% extends '../base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}


<div class="modal modal-signin position-static d-block bg-secondary m-0">
	<div class="modal-dialog" >
		<div class="modal-content rounded-5 shadow">


			<div class="modal-body pt-5 p-5 pt-0">
				<form method="POST" action="">
					{% csrf_token %}

					<div class="form-floating mb-3">
						<input type="text" name="username" placeholder="Username..." class="form-control">

						<label for="floatingInput">User</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" name="password" placeholder="Password..." class="form-control" >
						<label for="floatingPassword">Password</label>
					</div>

					<input type="submit" class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" ></input>

					<hr>
					<small class="text-muted">No have acount?</small>
					<a href="{% url 'ecommerce:register' %}" class="ml-2">Sign Up</a>



				</form>
	
			</div>
		</div>
	</div>
</div>

{% endblock content %}

