{% extends '../base.html' %}

{% block content %}


<div class="container mx-3">
    <div class="row mt-5">
        <div class="col-4 d-flex justify-content-center align-items-center text-center">
            <div class="">

                <h2 class="display-4"> {{product.title}}</h2>
                <p> {{ product.description}}</p>
                <a href="">
                    
                </a>
                <p>price:  ${{product.price}} </p>
            </div>
        </div>
        <div class="col ">          
                <div class="card p-1 border-white" style="height: 35rem;">
            
                    {% include "ecommerce/images.html" %}
                </div>
       

        </div>
    </div>
</div>
<div>

</div>
<!-- {% if request.user.is_staff %}
    <a href="{% url 'ecommerce:product-edit' product.pk %}">Edit</a>
    <a href="{% url 'ecommerce:product-delete' product.pk %}">Delete</a>
{% endif %} -->

{% endblock content %}